.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #343541;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.loader {
    position: relative;
    -webkit-box-reflect: 1px;
}

.loader::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: aqua;
    animation: blinkCursor 0.8s steps(10) infinite;
}

@keyframes blinkCursor {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.loader h2 {
    font-family: Consolas;
    position: relative;
    color: aqua;
    margin: 0px;
    letter-spacing: 5px;
    font-size: 4em;
    text-transform: uppercase;
    animation: typing 5s steps(11) infinite;
    overflow: hidden;
}

@keyframes typing {

    0%,
    90%,
    100% {
        width: 0;
    }

    30%,
    60% {
        width: 442px;
    }
}