.body {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.chatarea {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}